<!DOCTYPE html>
<html>
<head>
    <title>RAR Archiver</title>
</head>
<body>
    <form method="POST" action="/archive">
        <label for="archive_path">Archive file path:</label>
        <input type="text" id="archive_path" name="archive_path"><br><br>
        <label for="file_path">File path:</label>
        <input type="text" id="file_path" name="file_path"><br><br>
        <label for="password1">Password 1:</label>
        <input type="password" id="password1" name="password1"><br><br>
        <label for="password2">Password 2:</label>
        <input type="password" id="password2" name="password2"><br><br>
        <input type="submit" value="Archive">
    </form>
</body>
</html>
